<ion-header no-border>
  <ion-toolbar>
    <button ion-button icon-only>

      <ion-icon name="settings"> </ion-icon>
    </button>
  </ion-toolbar>
</ion-header>




<ion-content padding>



  <ion-list-header>
    <ion-label>Sunrise</ion-label>
    <ion-select [(ngModel)]="sunrise.val" interface="popover">
      <ion-option *ngFor="let opt of options" [value]="opt.val"> {{opt.disp}} </ion-option>
    </ion-select>
  </ion-list-header>

  <ion-list-header>
    Fade Time
    <ion-badge item-end>{{sunrise.fade}}</ion-badge>
  </ion-list-header>

  <ion-item>
    <ion-range [(ngModel)]="sunrise.fade">
    </ion-range>
  </ion-item>



  <ion-list-header>
    Blink For
    <ion-badge item-end>{{sunrise.blink}}</ion-badge>
  </ion-list-header>

  <ion-item>
    <ion-range [(ngModel)]="sunrise.blink">
    </ion-range>
  </ion-item>



  <button *ngIf="!previewing" ion-button block (click)="preview(true)" color="default">Preview</button>
  <button *ngIf="previewing" ion-button block (click)="preview(false)" color="danger">Stop Preview</button>

</ion-content>
