<!-- <ion-header no-border>
  <ion-toolbar>
    <button ion-button icon-only>
      <ion-icon name="sunny"> </ion-icon>
    </button>
  
    <!-- <ion-list-header> -->
      <!-- ion-label>Sunrise</ion-label-->
    <!-- </ion-list-header> -->
  
    <!-- Sunrise
  </ion-toolbar>
</ion-header> --> 




<ion-content padding>

    <ion-select [(ngModel)]="state.sunrise.scheme" interface="popover">
        <ion-option *ngFor="let opt of options" [value]="opt.val"  (ionSelect)="update($event)"> {{opt.disp}} </ion-option>
    </ion-select>
   

  <ion-list-header>
    Fade
    <ion-badge item-end>{{state.sunrise.fade}}</ion-badge>
  </ion-list-header>

  <ion-item>
    <ion-range [(ngModel)]="state.sunrise.fade" debounce="500" (ionChange)="update($event)">
    </ion-range>
  </ion-item>

  <ion-list-header>
    Hold
    <ion-badge item-end>{{state.sunrise.hold}}</ion-badge>
  </ion-list-header>

  <ion-item>
    <ion-range [(ngModel)]="state.sunrise.hold" debounce="500" (ionChange)="update($event)">
    </ion-range>
  </ion-item>


  <ion-list-header>
    Blink
    <ion-badge item-end>{{state.sunrise.blink}}</ion-badge>
  </ion-list-header>

  <ion-item>
    <ion-range [(ngModel)]="state.sunrise.blink" debounce="500" (ionChange)="update($event)">
    </ion-range>
  </ion-item>


  <button *ngIf="!state.sunrise.previewing" ion-button block (click)="preview(true)" color="default">Preview</button>
  <button *ngIf="state.sunrise.previewing" ion-button block (click)="preview(false)" color="danger">Stop Preview</button>

</ion-content>
