<!-- <ion-header no-border>
  <ion-toolbar>
    <button ion-button icon-only>
      <ion-icon name="sunny"> </ion-icon>
    </button>
  
    <!-- <ion-list-header> -->
      <!-- ion-label>Sunrise</ion-label-->
    <!-- </ion-list-header> -->
  
    <!-- Sunrise
  </ion-toolbar>
</ion-header> --> 




<ion-content padding>

    <ion-select [(ngModel)]="sunrise.val" interface="popover">
        <ion-option *ngFor="let opt of options" [value]="opt.val"> {{opt.disp}} </ion-option>
    </ion-select>
   

  <ion-list-header>
    Fade
    <ion-badge item-end>{{sunrise.fade}}</ion-badge>
  </ion-list-header>

  <ion-item>
    <ion-range [(ngModel)]="sunrise.fade">
    </ion-range>
  </ion-item>

  <ion-list-header>
    Hold
    <ion-badge item-end>{{sunrise.fade}}</ion-badge>
  </ion-list-header>

  <ion-item>
    <ion-range [(ngModel)]="sunrise.hold">
    </ion-range>
  </ion-item>


  <ion-list-header>
    Blink
    <ion-badge item-end>{{sunrise.blink}}</ion-badge>
  </ion-list-header>

  <ion-item>
    <ion-range [(ngModel)]="sunrise.blink">
    </ion-range>
  </ion-item>


  <button *ngIf="!previewing" ion-button block (click)="preview(true)" color="default">Preview</button>
  <button *ngIf="previewing" ion-button block (click)="preview(false)" color="danger">Stop Preview</button>

</ion-content>
